
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #2517c5;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    width: 100%;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

section {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

h2 {
    color: #007bff;
    font-size: 1.8em;
    margin-bottom: 0.75em;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    position: relative;
    height: 20px;
    width: 100%;
    margin: 10px 0;
}

.progress-bar-fill {
    background-color: #007bff;
    height: 100%;
    border-radius: 5px;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #3b3535;
    color: #fff;
    font-size: 0.8em;
    width: 100%;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Erzeugt eine flexible Anzahl von Spalten */
    gap: 10px;
    padding: 10px;
}

.skill-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

.skill-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 10px;
    width: 100%;
}

.skill-progress-bar-fill {
    background-color: #007bff;
    height: 100%;
    border-radius: 5px;
    width: 0%; /* Startwert, wird durch individuelle Prozentwerte ersetzt */
}

/* Anpassungen für kleinere Bildschirme */
@media only screen and (max-width: 800px) {
    .skill-card {
        width: calc(100% - 20px); /* Volle Breite auf kleinen Bildschirmen */
    }
}

@media only screen and (max-width: 800px) {
    header h1, header p, section h2 {
        font-size: smaller;
    }

    .card {
        padding: 10px;
    }
}

#joke-container {
    background-color: yellow;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}



/* ... (restlichen CSS-Regeln wie oben) ... */

/* Skills Section Styles */

