body {
    widht: 100%;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('imgs/background.jpg'); /* Setzen Sie hier den Pfad zu Ihrem Bild */
    background-size: cover; /* Stellt sicher, dass das Bild den gesamten Hintergrund abdeckt */
    background-position: center; /* Zentriert das Bild */
    background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
    background-attachment: fixed; /* Fixiert das Bild beim Scrollen */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(184, 99, 50);
    font-size: 1rem;
}

a:hover {
    color: orange;
}
.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right {
    align-items: right;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    visibility: hidden;
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown_menu {
    position: fixed;
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(red, green, blue, alpha);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    position: fixed;
    height: 360px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
}

header {
    color: #020202;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}
/* use of sections*/
section {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

/* combined css*/
.highlight p:first-child {
    color: #0000ff;
}

.highlight p:first-child,
.highlight p:nth-child(2) {
    font-style: italic;
}

.card {
    background-color: rgba(137,207,240, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

h2 {
    color: #000000;
    font-size: 1.8em;
    margin-bottom: 0.75em;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    position: relative;
    height: 20px;
    width: 100%;
    margin: 10px 0;
}

.progress-bar-fill {
    background-color: #46e5f4;
    height: 100%;
    border-radius: 5px;
    width: 0%;
    transition: width 0.5s ease-in-out;
}



.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Erzeugt eine flexible Anzahl von Spalten */
    gap: 10px;
    padding: 10px;
}

.skill-card {
    background-color: rgba(137,207,240, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-title {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 10px;
    width: 100%;
}

.skill-progress-bar-fill {
    background-color:rgb(184, 99, 50);
    height: 100%;
    border-radius: 5px;
    width: 0%; /* Startwert, wird durch individuelle Prozentwerte ersetzt */
}

.languages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Erzeugt eine flexible Anzahl von Spalten */
    gap: 10px;
    padding: 10px;
}

.languages-card {
    background-color: rgba(137,207,240, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.languages-card:hover {
    transform: translateY(-10px);
}

.languages-title {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.languages p {
    text-align: center;
    font-size: 0.7em;
}

.hobbies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Erzeugt eine flexible Anzahl von Spalten */
    gap: 10px;
    padding: 10px;
}

.hobbies-card {
    background-color: rgba(137,207,240, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.hobbies-card:hover {
    transform: translateY(-10px);
}
.hobbies-title {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.hobbies p {
    text-align: center;
    font-size: 0.7em;
}

#joke-container {
    background-color: rgba(137,207,240, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #000000 ;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.joke-container:hover {
    transform: translateY(-10px);
}



footer {
    
    max-width: 1200px; /* Maximalbreite */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Gleichmäßiger Abstand auf allen Seiten */
    margin: 0 auto; /* Zentriert den Footer im umgebenden Element */
    background-color: #333;
    color: white;
    flex-wrap: wrap; /* Ermöglicht das Umfließen auf kleinen Bildschirmen */
    max-width: 1200px; /* Maximalbreite des Footers, anpassbar nach Bedarf */
    width: 90%; /* Stellt sicher, dass der Footer die volle Breite einnimmt */
}

.footer-icons {
    display: flex;
}

.footer-icons a {
    color: white;
    margin: 0 10px;
}

.footer-icons i {
    font-size: 24px;
}

/* Responsive Design */
@media (max-width: 800px) {
    footer {
        width: 90%;
        flex-direction: column; /* Stapelt die Elemente vertikal */
        text-align: center;
    }

    .footer-icons {
        margin-top: 20px; /* Fügt Abstand oben hinzu, wenn die Icons unter dem Text sind */
        justify-content: center; /* Zentriert die Icons */
    }
}



/* Anpassungen für kleinere Bildschirme */
@media  (max-width: 800px) {
    
    .navbar { 
        width: 85%;
    }

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
    .footer-icons{
        width: 85;
    }
    
}

@media only screen and (max-width: 800px) {
    .skill-card {
        width: calc(90% - 20px); /* Volle Breite auf kleinen Bildschirmen */
    }
}

@media only screen and (max-width: 800px) {
    header h1, header p, section h2 {
        display: block;;
    }

    .card {
        padding: 10px;
    }
}
