body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding-bottom: 50px;
}

.container {
    background-color: #671717;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    border-bottom: 2px solid #9e2121;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.1em;
    color: #560b0b;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #007BFF;
}

a {
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
