body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    background-color: #46e5f4;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 100vh;
    background-image: url('');
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover{
    color: orange;
}
.navbar{
    
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    position: fixed;
}
.logo:hover{
    color: orange;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links {
    
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    visibility: hidden;
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: white;
}
.action_btn:active{
    scale: 0.95;
}

.dropdown_menu {
    position: fixed;
    display: none;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(0, 0, 0, 0.5); /* Farbe und Transparenz anpassen */
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    position: fixed;
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
position: fixed;
width: 100%;
display: flex;
justify-content: center;
}
/* Standardzustand der Dropdown-Menü */


/* Zustand, wenn das Menü erweitert wird */
.dropdown_menu.open {
    height: 240px;
}

/* Navbar links Anpassung */
.navbar .links {
    display: none; /* Standardmäßig nicht anzeigen */
}

/* Responsive Anpassung */
@media (max-width: 800px) {
    .navbar .toggle_btn {
        display: block;
    }
    .navbar .links {
        display: none;
    }
    .dropdown_menu {
        display: block;
    }
}

header {
    background-color: #0faac6;
    color: #fff;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

section {
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

.card {
    background-color: #1591a4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
}

h2 {
    color: #000000;
    font-size: 1.8em;
    margin-bottom: 0.75em;
}

.progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    position: relative;
    height: 20px;
    width: 100%;
    margin: 10px 0;
}

.progress-bar-fill {
    background-color: #46e5f4;
    height: 100%;
    border-radius: 5px;
    width: 0%;
    transition: width 0.5s ease-in-out;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #3b3535;
    color: #fff;
    font-size: 0.8em;
    width: 100%;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Erzeugt eine flexible Anzahl von Spalten */
    gap: 10px;
    padding: 10px;
}

.skill-card {
    background-color: #199294;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}
.skill-card:hover {
    transform: translateY(-10px);
}
.skill-title {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.skill-progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
    height: 10px;
    width: 100%;
}

.skill-progress-bar-fill {
    background-color: #007bff;
    height: 100%;
    border-radius: 5px;
    width: 0%; /* Startwert, wird durch individuelle Prozentwerte ersetzt */
}

.languages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Erzeugt eine flexible Anzahl von Spalten */
    gap: 10px;
    padding: 10px;
}

.languages-card {
    background-color: #199294;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.languages-card:hover {
    transform: translateY(-10px);
}
.languages-title {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.languages p {
    text-align: center;
    font-size: 0.7em;
}

.hobbies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Erzeugt eine flexible Anzahl von Spalten */
    gap: 10px;
    padding: 10px;
}

.hobbies-card {
    background-color: #199294;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
}

.hobbies-card:hover {
    transform: translateY(-10px);
}
.hobbies-title {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.hobbies p {
    text-align: center;
    font-size: 0.7em;
}





/* Anpassungen für kleinere Bildschirme */
@media  (max-width: 800px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu {
        display: block;
    }
}

@media only screen and (max-width: 800px) {
    .skill-card {
        width: calc(100% - 20px); /* Volle Breite auf kleinen Bildschirmen */
    }
}

@media only screen and (max-width: 800px) {
    header h1, header p, section h2 {
        font-size: smaller;
    }

    .card {
        padding: 10px;
    }
}

#joke-container {
    background-color: rgb(46, 20, 141);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
